body {
    background-color: rgb(165, 17, 250);
}
h1 {
    background-color: chartreuse;
    padding:10px;
    text-align:center;
}
p {
    color:white;
}
.fancy {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    color:salmon;
    border:1px solid white;
    padding:50px 10px 100px 200px;
    margin:40px;
    background-color: red;
}
#david {
    width:100px;
}
.superfancy {
    font-family: 'Outfit', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
}
