body {
    background-color: blue;
}

main {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.cuteness {
    background-color: royalblue;
}

.destruction {
    background-color: tomato;
    grid-row: 2;
    grid-column:2;
}

.destruction:hover {
    background-color: darkviolet;
    color: ghostwhite;
}

.care {
    background-color: chartreuse;
    grid-column:2/4;
}

.destruction div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

